<footer class="s-footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        &copy; 2018 Илья Постоенко
        <div class="social-wrap">
          <ul>
            <li><a href="https://www.instagram.com/ilya_postoenko/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="http://www.linkedin.com/in/iliya-postoenko" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.facebook.com/iliy.postoenko" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <!-- <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>