<section id="s-about" class="s-about bg-light">
  <div class="s-header">
    <h2>Обо мне</h2>
    <div class="s-description-wrap">
      <div class="s-description">
        Познакомимся ближе
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Немного о себе</h3>
          <p>Профильный опыт работы фрилансером с 2016 года. Имею адекватные амбиции с упором на качество, а не на процесс.  С удовольствием быстро осваиваю новую информацию и легко работаю с большим объемом заданий. Активная  жизненная  позиция, хорошо работаю как в  коллективе так и индивидуально. Стремлюсь к развитию и достижению поставленных целей.</p>
      </div>
      <div class="col-md-4 photo-wrap">
        <h3>Фото</h3>

        <img src="assets/img/photo.jpeg" alt="iliya_postoenko">
      </div>
      <div class="col-md-4 person">
        <h3>Персональная информация</h3>
        <h2 class="person_header">Илья Постоенко</h2>
        <ul>
          <li>Full-Stack Web developer. Rest Api, Socket.io, Node.js, Angular 6, MySQL, MongoDB, Mocha, HTML5, CSS3, Git.</li>
          <li>День рождения: 2 августа 1996 года</li>
          <li>Номер телефона: +380 73 101 98 93</li>
          <li>E-mail: <a href="mailto:iliyalevkiev@gmail.com">iliyalevkiev@gmail.com</a></li>
        </ul>
        <div class="social-wrap">
          <ul>
            <li><a href="https://www.instagram.com/ilya_postoenko/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="www.linkedin.com/in/iliya-postoenko" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.facebook.com/iliy.postoenko" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <!-- <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>