.main-head {
    display: flex;
    height: 100%;
    background-image: url("/assets/img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main-wrap {
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 8px solid #fff;
    border-radius: 10px;
    background: rgba(0, 0, 0, .2);
    h1 {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }
}

.second-text {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    p {
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 4px;
    }
}
