<section id="s-resume" class="s-resume">
  <div class="s-header">
    <h2>Резюме</h2>
    <div class="s-description-wrap">
      <div class="s-description">
        Мои знания и достижения
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row resume-container">
        <div class="col-md-6 col-sm-6 left">
            <h3>Учеба</h3>
						<div class="resume-icon"><i class="icon-basic-case"></i></div>
						<div class="resume-item">
							<div class="year">2016-2018</div>
							<div class="resume-description">Европейский университет<strong>Компьютерные науки</strong></div>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 right">
            <h3>Работа</h3>
						<div class="resume-icon"><i class="icon-basic-case"></i></div>
						<div class="resume-item">
							<div class="year">2006-по т.в.</div>
							<div class="resume-description"><strong>Full-stack web developer</strong> Freelance</div>
							<p>Разработка сайтов под ключ<br>
								Грамотное составление ТЗ, постановка справедливой цены и точных сроков<br>
								Написание Api<br>
								Оптимизация и обслуживание больших проектов</p>
            </div>
        </div>
      </div>

  </div>
</section>